@model Presentation.Controllers.SeatingPlanViewModel

@{
    ViewData["Title"] = "Createseats";
}

<h1>Createseats</h1>

<h4>SeatingPlanViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Createseats">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name="SeatChosen"/>
                @for(int col = 0; col<Model.MaxColumns; col++)
                {
                    for (int row = 0; row < Model.MaxRows; row++)
                    {
                        <input type="image" src="/image/seat.png"alt="Submit" style="width:30px;height:30px;" value="@Model.SeatList.SingleOrDefault(x=>x.Row==row&&x.Column==col).RowCol"
                        onclick="SetChosenSeat()"/>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    functino SetChosenSeat(){
    var myHidden = document.getElementById("seatHidden");
    myHidden.setAttribute("value",)
    }
</script>

